<footer class="container"">
    © Sophia Saint-Val  -
    <script type="text/javascript">
        var d = new Date()
        document.write(d.getFullYear())
    </script>

    <br>

    <a href="https://github.com/stval98">
        <img src="{{ site.url }}/assets/images/github.png" class="img-fluid" alt="GitHub logo">
    </a>

    <a href="https://www.linkedin.com/in/sophia-saint-val/">
        <img src="{{ site.url }}/assets/images/linkedin.png" class="img-fluid" alt="LinkedIn logo" style="height: 32px; width: 32px;">
    </a>
</footer>